:root {
    --main-color: #3498db;
    --text-color: #000;
}

html, body {
    margin: 0;
}

body {
    font-family:
        "Noto Sans JP",
        -apple-system,
        BlinkMacSystemFont,
        "Hiragino Sans",
        system-ui,
        sans-serif;
    color: var(--text-color);
    font-weight: 500;
    font-style: normal;
    margin: 0;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url(../images/landscape_00031.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(50px) brightness(0.95);
}
