:root {
    --font-en: "jost", sans-serif;
    --font-base: "Noto Sans JP", sans-serif;
}

.clock {
    text-align: center;
}

.time {
    font-size: 2.5rem;
    font-weight: bold;
}

.date {
    margin-top: 4px;
    font-size: 0.9rem;
    color: #aaa;
}

.news_title{
    color: #fff;
    font-family: var(--font-base);
    font-size: 1rem;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.news_meta {
    color: #eeeeee;
    font-family: "jost", "Noto Sans JP", sans-serif;
    font-size: 0.8rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 500px 200px;
    grid-template-rows: 200px 200px;
    justify-content: center;
}

.time_text {
    font-family: var(--font-en);
    letter-spacing: 0.03em;
    font-size: 4.6rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 4px 4px 20px #666666;
}

.weather_location {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.pin {
    width: 27%;
    padding-right: 5px;
    filter: brightness(0.9);
    position: relative;
    top: 1px;
}

.reason_text {
    color: #fff;
    font-size: 0.8rem;
}

.temp_text {
    font-family: var(--font-en);
    color: #fff;
    font-size: 4rem;
}

.card {
    margin: 20px;
    padding: 20px;
    background-color: #2525252d;
    backdrop-filter: blur(3px);
    text-align: center;
    border-radius: 17px;
    display: grid;
    place-items: center;
}